.parent {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid var(--color-blue-200-50);
  color: var(--color-blue-200);
  background-color: var(--color-grey-200);
  display: block;
}
