.parent {
  opacity: 0;
  transition: opacity .3s ease-in-out;

  @media (min-width: 1280px) {
    padding: 0 80px;
    position: relative;
  }

  &:global(.slider-view) {
    opacity: 1;
  }
}

.nextBtn,
.prevBtn {
  color: var(--color-blue-100);
  background-color: var(--color-white-100);
  box-shadow: 0 0 15px var(--color-blue-100-10);
  width: 40px;
  height: 40px;
  border-color: transparent;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  transition: opacity .3s ease;

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}

.prevBtn {
  left: 20px;
  rotate: 180deg;
}

.nextBtn {
  right: 20px;
}

.year {
  color: var(--color-blue-100);
  margin-bottom: 15px;
  font-family: var(--ff-bebas-neue);
  font-size: 16px;
  line-height: 19px;

  @media (min-width: 1280px) {
    font-size: 25px;
    line-height: 30px;
  }
}

.description {
  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider {
  display: block;
}

.slide {
  width: 166px;

  @media (min-width: 1280px) {
    width: 320px;
  }
}
