.parent {
  width: 100%;
  min-height: 100vh;
  padding-right: 8.33%;
  padding-left: 16.66%;
}

.container {
  border-width: 0 1px;
  border-color: var(--color-blue-200-10);
  border-style: solid;
  min-height: 100vh;

  @media (min-width: 1280px) {
    padding: 170px 0 104px;
    position: relative;
  }
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 79px;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: calc(100% - 14px);
    width: 5px;
    background: linear-gradient(to bottom, var(--color-blue-100), var(--color-pink-200)) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 1279px) {
    margin-bottom: 56px;
  }

  @media (min-width: 1280px) {
    font-size: 56px;
    line-height: 67.2px;
  }
}

.period {
  font-size: 56px;
  line-height: 72px;
  font-weight: 700;

  @media (min-width: 1280px) {
    font-size: 200px;
    line-height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.startYear {
  color: var(--color-blue-100);
}

.endYear {
  color: var(--color-pink-200);
}
