@use "./font.scss";
@use "./normalize.scss";
@use "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-pt-sans);
  font-size: 14px;
  line-height: 20.3px;
  color: var(--color-blue-200);
  background-color: var(--color-white-100);
  min-height: 100vh;
}
