:root {
  // font name
  --ff-bebas-neue: "BebasNeue";
  --ff-pt-sans: "PTSans";

  //color
  --color-pink-100: #ec5aa1;
  --color-pink-200: #EF5DA8;

  --color-blue-100: #3877EE;
  --color-blue-100-10: #3877EE1A;

  --color-blue-200: #42567A;
  --color-blue-200-10: #42567A1A;
  --color-blue-200-20: #42567A33;
  --color-blue-200-50: #42567A80;

  --color-blue-300: #303E58;
  --color-blue-300-50: #303E5880;

  --color-white-100: #FFF;

  --color-grey-100: #C7CDD9;
  --color-grey-200: #F4F5F9;
}
